.nav--main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}
.nav--form input {
  padding: 10px;
  width: 300px;
}
.nav--form {
  position: relative;
}
.logo {
  color: white;
  font-family: cursive;
  margin-right: 1rem;
  display: flex;
}

.socials--icons {
  display: flex;
  gap: 10px;
  color: gray;
  font-size: 25px;
}

.dropdown--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.dropdown--content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
  width: 300px;
  position: absolute;
  text-align: left;
  z-index: 20;
  padding-bottom: 10;
  background-color: #f44336;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.dropdown--items {
  max-width: 1300px;
  margin: 2rem auto;
}
.dropdown--btn {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 20px;
  background-color: #f44336;
  color: white;
  text-transform: capitalize;
}
.dropdown--content a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-transform: capitalize;
  transition: 0.5s;
}
.dropdown--content a:hover {
  background-color: #b30000;
  transition: 0.5s;
  color: #ffffff;
}
.dropdown--conatiner {
  position: relative;
}
